.navbar .p-menubar {
  background-color: var(--primary-color);
  height: 70px;
  border-radius: 0;
  border: none;
}

.title-nav {
  color: var(--second-color-text);
  font-size: 20px;
  font-weight: 700;
}

.title-nav .pi {
  font-size: 20px;
  font-weight: 700;
}
