:root {
  --background-color: #f0f8ff;
  --primary-color: #6eccc5;
  --secondary-color: #4e9499;
  --first-color-text: #445457;
  --second-color-text: #ffffff;
}

html {
  background-color: var(--background-color);
}
