.list-task .p-card .p-card-content {
  padding: 0;
}

.list-task .p-card .p-card-body {
  border-radius: 15px;
}

.list-task .text-content .title-task {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

.list-task .text-content .description-task {
  color: var(--first-color-text);
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
  text-align: start;
}

.list-task .text-content .description-task::first-letter,
.list-task .text-content .title-task::first-letter {
  text-transform: uppercase;
}

.list-task .no-data-label {
  font-size: 18px;
  font-weight: 800;
  color: var(--first-color-text);
  height: 50vh;
}
