.todo-wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--background-color);
}

.content-todo {
  width: 600px;
  max-width: 600px;
  height: calc(100vh - 110px);
}

.content-todo .btn-label,
.content-todo .pi {
  color: var(--primary-text-color);
  font-weight: 700;
}
